.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: aquamarine;
    padding: 1%;
}

.cart-bar {
    background-color: aliceblue;
    width: 70%;
    height: 15vh;
    display: flex;
    padding: 0.5%;
    justify-content: space-evenly;
    border: 1px solid black;
    margin: 1%;
}

.product-img {
    background-color: black;
    height: 98%;
    width: 12%;
}

.product-img img {
    height: 100%;
    width: 100%;
}

.product-data {
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* align-items: center; */
    flex-direction: column;
}

.del {
    font-size: 3rem;
}